# Java derlenmiş dosyalar
*.class

# Log dosyaları
*.log

# Veritabanı ve Yerel Veri Dosyaları (GÜVENLİK)
*.db
*.sqlite
node_modules/

# İsteğe bağlı derlenmiş paketler
*.jar

# IDE ve İşletim Sistemi dosyaları
.DS_Store
Thumbs.db
.idea/
.vscode/
