# Java derlenmiş dosyalar
*.class

# Log dosyaları
*.log

# Veritabanı, Gizli API Key ve Yerel Veri Dosyaları (GÜVENLİK)
.env
*.env
*.db
*.sqlite
node_modules/
kullanici_verileri.json


# İsteğe bağlı derlenmiş paketler
*.jar

# IDE ve İşletim Sistemi dosyaları
.DS_Store
Thumbs.db
.idea/
.vscode/
